body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.about-me{
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 5%;
}
.about-me img{
    width: 100%;
}